@font-face {
    font-family: 'Dinpro Regular';
    src: url('../fonts/dinpro/dinpro-regular-webfont.eot');
    src: url('../fonts/dinpro/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro/dinpro-regular-webfont.woff') format('woff'),
         url('../fonts/dinpro/dinpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dinpro Light';
    src: url('../fonts/dinpro/dinpro-light-webfont.eot');
    src: url('../fonts/dinpro/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro/dinpro-light-webfont.woff') format('woff'),
         url('../fonts/dinpro/dinpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dinpro Medium';
    src: url('../fonts/dinpro/dinpro-medium-webfont.eot');
    src: url('../fonts/dinpro/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro/dinpro-medium-webfont.woff') format('woff'),
         url('../fonts/dinpro/dinpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dinpro Bold';
    src: url('../fonts/dinpro/dinpro-bold-webfont.eot');
    src: url('../fonts/dinpro/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro/dinpro-bold-webfont.woff') format('woff'),
         url('../fonts/dinpro/dinpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
