/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .index-banner{
        h5{
            font-size: 20px;
            margin-bottom: 15px;
        }
        input.search-input{
            padding-left: 20px;
            font-size: 19px;
           
        }
    }
    .mob-btn-container{
        display: block;
    }
    .search-content{
        ul.tabs{
            height: auto;
            display: block;
            border-bottom: none;
            div.indicator{
               display: none;
            }
          
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}