/* Lilly Colors
   ========================================================================== */


$lilly-white: #ffffff;
$lilly-red-lust: #ee2e24;
$lilly-black : #505050;
$lilly-alt-row-odd : #ebebeb;
$lilly-alt-row-even :#cccccc;
$lilly-peech: #F64D54;

