<nav class="nav-container">
<div class="head-container">
 <div class="left-container">
   <img src="../../../assets/images/eli-lilly-logo-vector.png" class="logo-lilly-icon"/>
    <p class="lilly-welcome">| &nbsp; PAYERS RESPONSE TEAM</p>
    <p class="lilly-welcome-xs"> PRT</p>
 </div>
 <div class="right-container">
   <ul class="right">
        <li class="user-name">
         <a class="lilly-welcome u-name" href="#">Ophelia Kennedy</a>
       </li>
        <li class="user-icon-container">
         <a class="welcome-user" href="#"><div class="user-icon"></div></a>
       </li>
     </ul> 
 </div>
 </div>
</nav>

