<nav class="container link-container no-shadow">
  <div class="col l4 m4 s12 link-elem link-alt-color-odd">
    <a href="#" class="link-text link-active">
      RECENT SEARCHES
      <div class="numberCircle">2</div>
    </a>
  </div>
  <div class="col l4 m4 s12 red-bg link-alt-color-even center">
    <a href="#" class="link-text">NEWLY ADDED</a>
  </div>
  <div class="col l4 m4 s12 red-bg link-alt-color-odd">
    <a href="#" class="link-text right">APPROVED</a>
  </div>
</nav>
<nav class="container recent-questions">
	<div class="ques-header">
		<ul class="collapsible" data-collapsible="accordion">
			<li class="ques-content ques-header">
    		<div class="collapsible-header question-head">
          Questions (Recently Asked)
        </div>
      </li>
		</ul>
	</div>
	<div>
	  <ul class="" >
      <li class="ques-content item-inner-odd">
        <div class="collapsible-header">
          First
        </div>
      </li>
      <li class="ques-content item-inner-even">
        <div class="collapsible-header">Second</div>
      </li>
      <li class="ques-content item-inner-odd">
        <div class="collapsible-header">Third</div>
      </li>
      <li class="ques-content item-inner-even">
        <div class="collapsible-header">Second</div>
      </li>
      <li class="ques-content item-inner-odd">
        <div class="collapsible-header">Second</div>
      </li>
      <li class="ques-content item-inner-even">
        <div class="collapsible-header">Second</div>
      </li> 
    </ul>
  </div>
</nav>