<div class="index-banner">
  <div class="container search-container">
    <div class="row center">
        <div class="info-banner col l12">
          <p class="info-banner-head">Welcome to the Lilly Customer Response: Medical Questions & Answers landing Page</p>
          <p>This site is designed to allow cross-functional Lilly colleagues to find available responses to questions they might anticipate or have received and would like answered. It will also allow individuals to request a response from their global product colleagues for answers to questions which are not on the product site.
          Please note: Disclaimer on internal use only</p>
        </div>
        <div class="search-box">
            <form class="col l12 m11 s10">
              <div class="filter-wrapper input-field select1 col l2">
                <select class="select_1">
                  <option value="" disabled selected>ALL</option>
                  <option value="1">PRODUCT</option>
                  <option value="2">PLATFORM</option>
                </select>
                
              </div>
              <div class="filter-wrapper input-field select2 col l2">
                <select class="select_2">
                  <option value="" disabled selected>NONE</option>
                  <option value="1">PORTRAZZA</option>
                  <option value="2">LARTRUVO</option>
                  <option value="3">ABEMACICLIB</option>
                </select>
             
              </div>
                 <div class="input-field select3 col l2">
                <select class="select_3">
                  <option value="" disabled selected>NONE</option>
                  <option value="1">BLADDER</option>
                  <option value="2">GASTRIC</option>
                  <option value="3">HCC</option>
                </select>
             
              </div>
                 <div class="col l1 m1 s2 search-icon">
                     <button type="button" class="search-btn"></button>
                </div>
                <span class="input-wrapper"><input type="text" class="search-input" value placeholder="Enter your keyword here"></span>
                <div style="clear:both;"></div>
            </form>
            <div style="clear:both;"></div>
        </div>
        
        <div class="reset col l12"><a href="">RESET SEARCH</a></div>
        <div class="request-btns col l12">
            <a class="waves-effect waves-light btn-large">SUBMIT NEW REQUEST</a>
            <a class="waves-effect waves-light btn-large">MY REQUEST</a>
        </div>
        <div style="clear:both;"></div>
    </div>
  </div>
</div>
<div class="mob-btn-container">
    <a class="push-down-button"><i class="material-icons">keyboard_arrow_down</i></a>
</div>


