
<div class="row search-content">
      <div class="col s12">
        <ul class="tabs" style="width: 100%;">
          <li class="tab col l3 m3 s12">
            <a id="firstTab" class="active" href="#test1">RECENT</a>
          </li>
          <li class="tab col l3 m3 s12">
            <a href="#test2" class="">NEW</a>
          </li>
          <li class="tab col l3 m3 s12">
            <a href="#test3" class="">NEED INFO</a>
          </li>
            <li class="tab col l3 m3 s12">
            <a href="#test3" class="">ESCALATED</a>
          </li>
            <li class="tab col l3 m3 s12">
            <a href="#test3" class="">IN PROGRESS</a>
          </li>
            <li class="tab col l3 m3 s12">
            <a href="#test3" class="">COMPLETED</a>
          </li>
        <div class="indicator" style="right: 61.3906px; left: 0px;"></div><div class="indicator" style="right: 61.3906px; left: 0px;"></div>
          </ul>
      </div>
    
      <div id="test1" class="col s12" style="">
          
          
          <div style="height: 400px;"></div>
          
          Test 1</div>
      <div id="test2" class="col s12" style="">Test 2</div>
      <div id="test3" class="col s12" style="">Test 3</div>
</div>
    
