<nav class="nav-container">
<div class="head-container">
 <div class="left-container valign-wrapper">
   <a href="#"><img src="assets/images/eli-lilly-logo-vector.png" class="logo-lilly-icon center-align"/></a>
    <p class="lilly-welcome center-align"><span class="opacity">| </span>&nbsp; CUSTOMER RESPONSE : MEDICAL Q&A</p>
    <!-- <p class="lilly-welcome-xs"> PRT</p> -->
 </div>
 <div class="right-container valign-wrapper">
   <ul class="right center-align">
        <li class="user-name">
         <a class="lilly-welcome u-name" href="#">Ophelia Kennedy</a>
       </li>
        <li class="user-icon-container">
         <a class="welcome-user" href="#"><div class="user-icon"></div></a>
       </li>
    </ul> 
 </div>
 </div>
</nav>

