
<div class="index-banner mob-landing">
  <div class="container search-container">
    <div class="row center">
        <div class="col s12 info-banner-mob">
            <p class="head">Welcome to the Lilly Customer Response: Medical Questions & Answers landing Page</p>
            <p class="message"> This site was designed to allow cross-functional teams to search and request medical responses to commonly asked questions for internal purposes. Veeva Vault remains the source for external answers.</p>
            <a href="" class="thanks-btn">THANKS</a> 
        </div>
      </div>
    </div>
</div>
<div class="mob-btn-container">
    <a class="push-down-button"><i class="material-icons">keyboard_arrow_down</i></a>
</div>


<div class="index-banner" id="main-banner">
  <div class="container search-container">
    <div class="row center">
        <div class="info-banner col l12">
          <p class="info-banner-head">Welcome to the Lilly Customer Response: Medical Questions & Answers landing Page</p>
            <p class="message">This site was designed to allow cross-functional teams to search and request medical responses to commonly asked questions for internal purposes. Veeva Vault remains the source for external answers.</p>
          <p>Please note: Disclaimer on internal use only</p>
        </div>
        
        <div class="search-box">
                <form class="col l11 m12 s12">
                    <div class="col s8 m9 input-wrapper-mob">
                         <span class="input-wrapper">
                        <input type="text" class="search-input search-input-mob" value placeholder="Enter your keyword here">
                        </span>
                    </div>
                    
                    <div class="col s2 search-icon-mob">
                     <button type="button" class="search-btn"></button>
                    </div>
                    
                    <div class="reset reset-mob col l1"><a href=""></a></div>
                    
                    <div class="border-cover col s12 m12 l2">
                      <div class="filter-wrapper input-field select1">
                        <select class="select_1">
                          <option value="" disabled selected>ALL</option>
                          <option value="1">PRODUCT</option>
                          <option value="2">PLATFORM</option>
                        </select>
                      </div>
                    </div>
                    
                <div class="border-cover-1 select_prod col s12 m12 l2">
                  <div class="filter-wrapper input-field select2_prod">
                    <select class="select_2_prod">
                      <option value="" disabled selected>NONE</option>
                      <option value="1">PRODUCT 1</option>
                      <option value="2">PRODUCT 2</option>
                      <option value="3">PRODUCT 3</option>
                    </select>
                  </div>
                </div>
                    
                <div class="border-cover-1 select_plat col s12 m12 l2">
                  <div class="filter-wrapper input-field select2_plat">
                    <select class="select_2_plat">
                      <option value="" disabled selected>NONE</option>
                      <option value="1">PLATFORM 1</option>
                      <option value="2">PLATFORM 2</option>
                      <option value="3">PLATFORM 3</option>
                    </select>
                  </div>
                </div>
                    
                <div class="border-cover-2 col s12 m12 l2">
                 <div class="filter-wrapper input-field select3">
                    <select class="select_3">
                      <option value="" disabled selected>NONE</option>
                      <option value="1">BLADDER</option>
                      <option value="2">GASTRIC</option>
                      <option value="3">HCC</option>
                    </select>
                  </div>
                </div>
                    
                <div class="col l1 m1 s2 search-icon search-icon-dt">
                     <button type="button" class="search-btn"></button>
                </div>
                <span class="input-wrapper input-wrapper-dt">
                    <input type="text" class="search-input" value placeholder="Enter your keyword here">
                </span>
                <div style="clear:both;"></div>
                </form>
                <div class="reset reset-dt col l1"><a href=""></a></div>
                <div style="clear:both;"></div> 
        </div>
        
        
        <div class="request-btns request-btns-dt col l12">
            <a class="waves-effect waves-light btn-large"><span>SUBMIT NEW REQUEST</span></a>
            <a class="waves-effect waves-light btn-large"><span>MY REQUEST</span></a>
        </div>
        <div style="clear:both;"></div>
    </div>
  </div>
</div>



