<nav class="container link-container no-shadow">
   <ul class="col s12 m12 l12 tabs hide-on-med-and-down">
      <li class="col s12 tab"><a class=" tab-link" href="#recent">Recent Searches  (20)</a></li>
      <li class="col s12 tab"><a class="tab-link" href="#newlyadded">Newly Added</a></li>
      <li class="col s12 tab"><a class="tab-link" href="#approved">Approved</a></li>
  </ul>
   <ul class=" hide-on-large-only collapsible">
      <li class="col s12">
        <ul class="collapsible  col l12 m12 s12" data-collapsible="accordion">
          <li class="ques-content" id="recent-ques-head">
            <div class="no-padding collapsible-header tabular" id="recent-searches-head">
              <div class="right filter-img">
                <img class="down">
              </div>
              <div class="tab-link">
                Recent Searches
              </div>
            </div>
            <span class="collapsible-body filter-container" id="recent-searches-body">
              
            </span>
          </li>
        </ul>
      </li>
      <li class="col s12">
        <ul class="collapsible  col l12 m12 s12" data-collapsible="accordion">
          <li class="ques-content" id="recent-ques-head">
            <div class="no-padding collapsible-header tabular" id="newly-added-head">
              <div class="right filter-img">
                <img class="down">
              </div>
              <div class="tab-link">
                Newly Added
              </div>
            </div>
            <div class="collapsible-body filter-container" id="question-body">
              newly added
            </div>
          </li>
        </ul>
      </li>
      <li class="col s12">
        <ul class="collapsible  col l12 m12 s12" data-collapsible="accordion">
          <li class="ques-content" id="recent-ques-head">
            <div class="no-padding collapsible-header tabular" id="newly-added-head">
              <div class="right filter-img">
                <img class="down">
              </div>
              <div class="tab-link">
                All approved
              </div>
            </div>
            <div class="collapsible-body filter-container" id="question-body">
              All approved
            </div>
          </li>
        </ul>
      </li>
  </ul> 
</nav>
<div class="container recent-questions high-grid" id="recent">
  <div class="ques-header">
    <ul class="collapsible header-cont col l12 m12 s12" data-collapsible="accordion">
      <li class="ques-content ques-header" id="recent-ques-head">
        <div class="collapsible-header" id="question-head">
          <div class="right filter-img">
            <span class="expand"></span>
          </div>
          <div class="question-head">
            Questions <span class="recently-asked">(Recently Asked)</span>
          </div>
        </div>
        <div class="collapsible-body filter-container" data-collapsible="accordion" id="question-body">
          <div class="no-margin">
            <ul class="collapsible region-box"  id="region-box">
              <li class="ques-content ques-header">
                <div class="collapsible-header auto-height desktop-pointer-none">
                  <div class="ques-content-head">
                    Region
                  </div>
                </div>
                <div class="collapsible-body border-none" id="filter-region">
                    <select class="browser-default select-opt" size="5">
                      <option class="ques-content-odd" value="0">Any Region</option>
                      <option class="ques-content-even" value="1">ACE</option>
                      <option class="ques-content-odd" value="2">AMBU</option>
                      <option class="ques-content-even" value="3">GLOBAL</option>
                    </select>
                </div>
              </li>
            </ul>
          </div>
          <div class="no-margin">
            <ul class="collapsible region-box" data-collapsible="accordion" id="category-box">
              <li class="ques-content ques-header">
                <div class="collapsible-header auto-height desktop-pointer-none">
                  <div class="ques-content-head">
                    Categories
                  </div>
                </div>
                <div class="collapsible-body border-none" id="filter-category">
                  <select class="browser-default select-opt" size="5">
                      <option class="ques-content-odd" value="0">Any Category</option>
                      <option class="ques-content-even" value="1">Other</option>
                      <option class="ques-content-odd" value="2">Efficacy</option>
                      <option class="ques-content-even" value="3">Safety</option>
                      <option class="ques-content-even" value="3">Quality</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
          <div class="no-margin">
            <ul class="collapsible region-box datebox" data-collapsible="accordion" id="date-box">
              <li class="ques-content ques-header">
                <div class="collapsible-header auto-height desktop-pointer-none">
                  <div class="ques-content-head">
                    Modified Date
                  </div>
                </div>
                <div class="collapsible-body border-none" id="filter-date">
                      <ul class="region-box datebox">
                        <li class="ques-content-odd date-parent" id="date">Any modified Date</li>
                        <li class="ques-content-even date-parent" > 
                          <input class="datepicker" type="text" value="Select Date" id="selectdate">
                        </li> 
    
                      </ul>
                    </div>
              </li>
            </ul>
          </div>
          <div class="container center-align">
            <button class="btn-cancel"><p class="btn-txt">Cancel</p></button>
            <button class="btn-submit"><p class="btn-txt">Submit</p></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--This goes under the tab section-->
  <ul class="header-cont bottom-cont col l12 s12 m12" >
    <li class="ques-content item-inner-filter">
      <div class="collapsible-header">
        <ul>
          <li class="left filter-cls" id="filter">
            <div class="filter-btn">
              <div class="filter-txt">
                Region
              </div>
              <div class="filter-cross-img">
              </div>
            </div>
          </li>
          <li class="left filter-cls" id="filter">
            <div class="filter-btn">
              <div class="filter-txt">
                Category
              </div>
              <div class="filter-cross-img">
              </div>
            </div>
          </li>
          <li class="left filter-cls" id="filter">
            <div class="filter-btn">
              <div class="filter-txt">
                Date
              </div>
              <div class="filter-cross-img">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    </ul>
    <ul class="collapsible question-grid bottom-cont col l12 s12 m12" data-collapsible="accordion">
      <li class="ques-content select-even">
        <div class="collapsible-header item-txt question-result">
          <div class="right filter-image">
            <span class="transdown"></span>
          </div>
            <div>
              Lorem ipsum dolor sit amet, conse adipiscing elit, sed 
            </div>
        </div>
        <div class="collapsible-body item-txt colapse-body">
          body
        </div>
      </li>
      <li class="ques-content select-odd">
        <div class="collapsible-header item-txt question-result">
          <div class="right filter-image">
            <span class="transdown"></span>
          </div>
            <div>
              Lorem ipsum dolor sit amet, conse adipiscing elit, sed 
            </div>
        </div>
        <div class="collapsible-body item-txt colapse-body">
          body
        </div>
      </li>
      <li class="ques-content select-even">
        <div class="collapsible-header item-txt question-result">
          <div class="right filter-image">
            <span class="transdown"></span>
          </div>
            <div>
              Lorem ipsum dolor sit amet, conse adipiscing elit, sed 
            </div>
        </div>
        <div class="collapsible-body item-txt colapse-body">
          body
        </div>
      </li>
      <li class="ques-content select-odd">
        <div class="collapsible-header item-txt question-result">
          <div class="right filter-image">
            <span class="transdown"></span>
          </div>
            <div>
              Lorem ipsum dolor sit amet, conse adipiscing elit, sed 
            </div>
        </div>
        <div class="collapsible-body item-txt colapse-body">
          body
        </div>
      </li>
      <li class="ques-content select-even">
        <div class="collapsible-header item-txt question-result">
          <div class="right filter-image">
            <span class="transdown"></span>
          </div>
            <div>
              Lorem ipsum dolor sit amet, conse adipiscing elit, sed 
            </div>
        </div>
        <div class="collapsible-body item-txt colapse-body">
          body
        </div>
      </li>
</ul>
</div>