.link-container{
    height:49px;
    background-color: $lilly-white;
    margin-top: 3%;
    .tabs{
        .tab{
            a{
                color: $lilly-dark-black !important;
                font-family: Dinpro Regular !important;
                font-size: 20px;
                
            }
        }
    }
}

.opt-height{
    display: none !important;
}

.link-elem{
    
    padding:0 !important;
}

.recent-questions{
    background-color: $lilly-white;
    box-shadow: none;
    margin-top: 10px;
}

.ques-header{
    background-color: $lilly-peech !important;
}
.filter-img{
    pointer-events: none;
    padding: 10px 10px 0px 0px;
    height: 40px;
}
.no-margin{
    display: inline-block;
    padding: 2% 2% 0 2%;
    margin:0 auto;
}

.collapsible-body{
   background-color:$lilly-light-grey !important;
   border: solid;
}

.collapsible-header{
  .question-head{
        p{
            margin: 0;
            display: inline;

            span{
               font-family: Whitney-Light; 
                font-size: 20px;
            }
        }
        color: $lilly-white !important;

        margin-bottom: 0px;
        letter-spacing: 0.3px;  

        background-color: $lilly-peech;
        .recently-asked{
            opacity: 0.8;
            font-size: 14px;
            letter-spacing: 0.2px;
        }
    } 
    div.filter-btn{
        font-family: Dinpro Regular;
    }
    
}



.ques-content-odd{
    background-color: $lilly-alt-row-odd;
    line-height: 40px;
    color: $lilly-dark-grey;
    font-size: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 3%;
}

.ques-content-even{
    background-color: $lilly-alt-row-even;
    line-height: 40px;
    color: $lilly-dark-grey;
    font-size: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 3%;
}
.ques-content-head{
    background-color: $lilly-peech;
    line-height: 40px;
    color: $lilly-white;
    font-size: 20px;
    font-family: Dinpro Medium;
}
.ques-content-selected{
    border:2px solid $lilly-peech;
    line-height: 40px;
    color: $lilly-dark-grey;
    
    font-size: 20px;
    background-color: $lilly-white;
}


.collapsible-header{
    div{
        color:$lilly-dark-grey;
        cursor: pointer;
        padding-left: 3%;
        span{
             font-size: 14px;
            font-family: Whitney-Medium;
        }
    }
   
}
.collapsible-body{
    color:$lilly-peech;
}
.ques-content{
    width: 100%
}
.item-inner-odd {
    background-image: url("../images/icon-expand-red@3x.png") !important;
    background-size: 27px 27px !important;
    background-repeat: no-repeat;
    background-color: $lilly-alt-row-odd;
    background-position:right;
    pointer-events: none;
    background-position-x:calc(100% - 20px);
}
.item-inner-filter {
    background-size: 27px 27px !important;
    background-repeat: no-repeat;
    background-color: $lilly-alt-row-odd;
    background-position:right;
    pointer-events: none;
    padding-left: 24px;
}

.item-inner-even {
    background-image: url("../images/icon-expand-red@3x.png") !important;
    background-size: 27px 27px !important;
    background-repeat: no-repeat;
    background-color: $lilly-alt-row-even;
    background-position:right;
    
    background-position-x:calc(100% - 20px);
}

.select-odd{
    background-color: $lilly-alt-row-odd;
}

.select-even{
    background-color: $lilly-alt-row-even;
}

.filter-head{
    background-color: $lilly-peech;
}

.white-bg{
    background-color: $lilly-white !important;
}

.filter-container{
    width: 100%;
    text-align: center;
    border: 1px solid $lilly-grey;
}

.high-grid{
    height: 64px;
    line-height: 64px;
    padding-top: 5%;
}

.question-grid{
    height: 250px;
    overflow-y: scroll;
}

.header-cont{
    margin-bottom: 0;
    
}

.bottom-cont{
    margin-top: 0;
}

/*.tab-link{
    color: $lilly-dark-black !important;
    font-family: Whitney-Medium;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-align: center;
}*/

.indicator{
    background-color: $lilly-peech !important;
    height: 5px !important;
}

.region-header{
    background-color: $lilly-peech;
}

.region-box{
    width:286px;
    height: 204px;
    overflow-y: auto;
    li{
        font-family: Dinpro Regular;
        font-size: 16px;
        input{
            font-family: Dinpro Regular;
            font-size: 16px;
            width: 100%;
            text-align: center;
        }
    }
}

.btn-cancel{
    background-color: $lilly-peech;
    height: 30px;
    line-height: 28px;
    width:115px;
    vertical-align: middle;
    padding: 0;
    border: 0;
    border: 1px solid $lilly-peech !important;
    font-family: Whitney-Medium;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 80px;
}

.btn-cancel:focus{
    background-color: $lilly-peech !important;
}

.btn-submit{
    background-color: $lilly-green;
    height: 30px;
    width:115px;
    line-height: 28px;
    vertical-align: middle;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    border: 1px solid $lilly-green !important;
    font-family: Whitney-Medium;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 80px;
}

.btn-submit:focus{
    background-color: $lilly-green !important;
}

.btn-txt{
    margin: 0 0 0 3px;
    color: $lilly-white;
}

.filter-btn{
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    border:2px solid $lilly-peech;
    margin:4px;
    overflow: hidden;
    transition: background-color .1s;
    line-height: 10px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 80px;
    height: 24px !important;
}

.filter-cross{
    padding: 8px;
    pointer-events: auto;
}

.filter-txt{
    white-space: nowrap;
    font-size: 24px;
    letter-spacing: 0.3px;
    opacity: 0.8;
}

.filter-cross-img{
    background-image: url('../images/cross-filter.png');
    background-repeat: no-repeat;
    background-position: 9px 5px;
    width: 25px;
    pointer-events: auto;

}

.tab{
    text-transform: none !important;
}

.tab-link:hover{
    background-color: #fff !important;
}

.filter-cls{
    height: 60px
}

.welcome-user:hover{
    background-color: $lilly-white !important;
}

.lilly-welcome-name:hover{
    background-color: $lilly-white !important;
}

.auto-height{
    height: auto;
}

.border-none{
    border: none;
    overflow-x: hidden;
}

.datebox{
    overflow: hidden;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    /* STYLES GO HERE IPAD Landscape only */
    .select-opt{
        display: none !important;
    }
    .opt-height{
        display: block !important;
    }
    .region-box{
        height: 100% !important;
    }
    #region-box, #category-box, #date-box{
        height: 100% !important;
    }
    .desktop-pointer-none{
        pointer-events: none !important;
    } 
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    /* STYLES GO HERE for Ipad potrait only*/
    #all-large{
        display: none !important;
    }
    #small-mobile{
        display: block !important;
    }
    .region-box{
        height: 204px !important;
        width: 250px !important;
    }
    .u-name, .user-name{
        display: block !important;
    }
 }

@media(min-width: 1024px){
      .high-grid{
        padding-top: 0;
    }
    .desktop-pointer-none{
        pointer-events: none;
    }  
    .region-box{
        height: 204px !important;
        width: 250px !important;
    }
}

@media(max-width: 600px){
    .item-txt{
        line-height: 20px;
        padding-top: 2%;
    }
    .mob-wide{
        width: 86% !important;
    }

    .filter-cls{
        height: 40px;
        line-height: 40px;
    }

    .item-inner-filter{
        height: 90px;
    }

    .region-box{
        height: auto !important;
    }
    .opt-height{
        display: block !important;
        height: 40px !important;
        color: $lilly-dark-grey;
    }
    
    .no-show-phone{
        display: none !important;
    }

}
@media(max-width: 992px){
    .region-box{
        height: auto !important;
    }
    .select-opt{
        display: none !important;
    }
    .opt-height{
        display: block !important;
    }
}

    /*ipad landscape*/
  @media #{$medium-and-up} {
    .region-box{
        width: 330px !important;
        height: auto !important;
    }
    .select-opt{
        height: 40px !important;
    }
    
    
  }
  @media(min-width: 992px){
    .region-box{
        height: 204px !important;
        width: 250px !important;
    }
    
    .datebox{
        overflow: hidden;
    }
}
  
.expand{
    background-image:url("../images/Icon_filter.png");
    height: 26px;
    background-repeat: no-repeat;
    width: 28px;
    display: inline-block;
}

.collapse{
    background-image:url("../images/collapse.png");
    height: 30px;
    background-repeat: no-repeat;
    width: 30px;
    display: inline-block;
}  

.down{
    background-image:url("../images/dropdown.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.up{
    background-image:url("../images/icon-up.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.transdown{
    background-image:url("../images/arrow-down-trans.png");
    height: 27px;
    background-repeat: no-repeat;
    width: 27px;
    display: inline-block;
}

.transup{
    background-image:url("../images/arrow-up-trans.png");
    height: 27px;
    background-repeat: no-repeat;
    width: 27px;
    display: inline-block;
}

.no-padding{
    padding:0 !important; 
}

.tab-link active{
    border-bottom: 6px solid $lilly-peech;
}

nav ul li.active{
    background-color: $lilly-white !important;
}
.active{
    width: 100%;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    margin-bottom: 0 !important;
    font-size: 20px;
}
.filter-image{
    padding-right: 10px;
    height: 40px;
}

.colapse-body{
    color:$lilly-dark-grey;
    background-color: #e6e6e6 !important;
    border: none !important;
    padding-left: 3%;
    height:60px;
    font-size: 14px;
    font-family: Whitney-Medium;
}

.select-opt{
    height: 160px !important;
    padding: 0 !important;
}

.date-parent{
    height: 45px;
    padding-top: 0px !important;
}


select.browser-default{
    font-family: Dinpro Regular;
    option{
        font-size: 16px !important;
        
    }
  
}
