/* Lilly Colors
   ========================================================================== */


$lilly-white: #ffffff;
$lilly-red-lust: #ee2e24;
$lilly-black : #505050;
$lilly-alt-row-odd : #f7f7f7;
$lilly-alt-row-even :#fcfcfc;
$lilly-peech: #ff4646;
$lilly-grey: #777777;
$lilly-dark-grey : #1f1f1f;
$lilly-dark-black : #000000;
$lilly-light-grey : #e7e7e7;
$lilly-lighter-grey : #f4f4f4;
$lilly-grey-select: #777777;
$lilly-grey-divider: #d9d9d9;
$lilly-note: #1f1f1f;
$lilly-green: #2dc772;

