@font-face {
  font-family: 'Whitney-Medium';
  src: url('../fonts/whitney/Whitney-Medium.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/whitney/Whitney-Medium.woff') format('woff'), 
      url('../fonts/whitney/Whitney-Medium.ttf')  format('truetype'), 
      url('../fonts/whitney/Whitney-Medium.svg#Whitney-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-MediumSC';
  src: url('../fonts/whitney/Whitney-MediumSC.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/whitney/Whitney-MediumSC.woff') format('woff'), 
      url('../fonts/whitney/Whitney-MediumSC.ttf')  format('truetype'), 
      url('../fonts/whitney/Whitney-MediumSC.svg#Whitney-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-Light';
  src: url('../fonts/whitney/Whitney-Light.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/whitney/Whitney-Light.woff') format('woff'), 
      url('../fonts/whitney/Whitney-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}